<!DOCTYPE html>
<html lang="en">
<head>
    <!-- //HEAD PARTIALS-->
    <%- include('../partials/head') %>
</head>
<body class="detalles_del_producto">

    <!-- Header -->
    <%- include('../partials/header',{ title:'detalle'}) %>

    <!-- Main Content -->
    <main class="main__detalles_del_producto">
        <div class="container-title"> <b>Inicio </b> / <b><%= product.name %></b></div>
        <br>
        <div class="div_padre_detalle_product container-producto">

            <div class="detalle">

                <div class="container-img">
                    <div class="imagenes__productos">
                        <% product.images.forEach((image, index)=> { %>
                            <img class="imagen-secundaria" src="/img/<%= image.file %>" alt="" data-index="<%= index %>">
                        <% }) %>
                    </div>
                    <div class="contenedor_detalles_carrusel" id="foto1">
                        <img id="imagen-principal" src="/img/<%= product.image %>" style="object-fit: cover; width: 100%;" alt="imagen">
                    </div>
                </div>

                <script src="/javascripts/detal-scrip.js"></script>

                <div class="detalle_2">
                    <article class="articulo__precio_detalle">
                        <h3 class="name">
                            <%= product.name %>
                        </h3>
                        <p class="lista__detalles">
                            <p class="desc">Descripción del producto :</p>
                            <p>
                                <%=product.description %>
                            </p>
                        </p>
                        <hr>

                        <% if (product.descount> 0) { %>
                            <p><b>Precio : $<%= product.price - product.price * (product.descount / 100) %></b>
                            </p>
                            <p><b>Descuento : $<%= product.price * (product.descount / 100) %> (% <%=
                                            product.descount %>) </b></p>
                        <% } else { %>
                            <p><b>Precio : $<%= product.price %></b></p>
                            <p><b>Descuento : -</b></p>
                        <% } %>

                        <div class="div_colores">

                            <div style="display: flex; flex-wrap: wrap;">
                                <b>
                                    <p style="margin-right: 10px;">Color :</p>
                                </b>
                                <% if (product.colors && product.colors.length> 0) { %>
                                    <% let counter=0; %>
                                        <% product.colors.forEach(color=> { %>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                    name="colors" value="<%= color.id %>"
                                                    id="color<%= color.id %>"  onclick="colorChosen('<%= color.id %>','<%= color.name %>')">
                                                <label class="form-check-label"
                                                    for="color<%= color.id %>">
                                                    <%= color.name %>
                                                </label>
                                            </div>
                                            <% counter++; %>
                                                <% if (counter % 3===0) { %>
                                                    <br>
                                                   
                                                <% } %>
                                        <% }) %>
                                <% } else { %>
                                    <p>-</p>
                                <% } %>
                            </div>
                        </div>

                        <div class="div_talle">
                            <div>
                                <b>
                                    <p style="margin-right: 10px;"> Talle : </p>
                                </b>
                                <% if (product.sizes && product.sizes.length> 0) { %>
                                    <% product.sizes.forEach(sizes=> { %>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                name="sizes" value="<%= sizes.id %>"
                                                id="color<%= sizes.id %>" onclick="sizeChosen('<%= sizes.id %>','<%= sizes.name %>')">
                                            <label class="form-check-label"
                                                for="color<%= sizes.id %>">
                                                <%= sizes.name %>
                                            </label>
                                        </div>
                                    <% }) %>
                                <% } else { %>
                                    <p> - </p>
                                <% } %>
                            </div>
                        </div>

                        <article class="articulo__disponible">
                            <div class="guia__talles">
                                <i class="fa-solid fa-ruler-horizontal"></i>
                                <p class="guia_talles_text"><a href="#img_talles">GUIA DE TALLES</a>
                                </p>
                            </div>
<<<<<<< HEAD
                        </article>
                        <div class="img_talles" id="img_talles">
                            <img src="/img/talles_720.png" alt="Guia de Talles">
                            <a href="#" class="close-btn">&times;</a>
                        </div>

                        <hr>

                    </article>

                    <div class="cart-container">
                        <div class="counter-box">
                            <button class="btn-minus">-</button>
                            <span id="item-counter" >1</span>
                            <button class="btn-plus">+</button>
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const counter = document.getElementById('item-counter');
                                const btnPlus = document.querySelector('.btn-plus');
                                const btnMinus = document.querySelector('.btn-minus');

                              
                                btnPlus.addEventListener('click', function () {
                                    let currentValue = parseInt(counter.textContent);
                                    counter.textContent = currentValue + 1;

                                    quantityChosen(currentValue + 1)
                                });

                                btnMinus.addEventListener('click', function () {
                                    let currentValue = parseInt(counter.textContent);
                                    if (currentValue > 0) {
                                        counter.textContent = currentValue - 1;
                                        quantityChosen(currentValue - 1)
                                    }
                                });
                            });
                        </script>

                        <button class="btn-add-to-cart" onclick="addItemCart('<%=product.id%>', '<%=product.name%>', '<%= product.price - product.price * (product.descount / 100) %>', '<%=product.image%>')">AGREGAR AL CARRITO</button>
                    </div>

                    <article class="articulo__disponible2">
                        <div class="guia__pago">
                            <p class="guia_pago_text"><a href="#img_pago">METODOS DE PAGO</a></p>
                        </div>
                    </article>
                    <div class="img_pago" id="img_pago">
                        <img src="/img/pago.jpg" alt="Guía de Métodos de Pago">
                        <a href="#" class="close-btn">&times;</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        

<div class="container mt-5">
    <h2>Productos Relacionados</h2>
    
    <div id="related-products-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <% let chunkSize = 4;  %>
            <% for (let i = 0; i < productsRelated.length; i += chunkSize) { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <div class="row">
                        <% let chunk = productsRelated.slice(i, i + chunkSize); %>
                        <% chunk.forEach((relatedProduct) => { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <a href="/productos/detalle/<%= relatedProduct.id %>">
                                    <div class="card">
                                        <img src="/img/<%= relatedProduct.image %>" class="card-img-top" alt="<%= relatedProduct.name %>" style="height: 200px; object-fit: cover;">
                                        <div class="card-body">
                                            <h5 class="card-title" style="min-height: 50px;"><%= relatedProduct.name %></h5>
                                            <p class="card-text" style="min-height: 80px;"><%= relatedProduct.description %></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } %>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#related-products-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#related-products-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
        <div class="compartit_detalles_del_producto">
            <h4 class="compartir"> COMPARTIR:</h4>
=======
                        </div>
                    </div>
                    <br>


                </div>

                <div class="compartit_detalles_del_producto">
                    <h4 class="compartir"> COMPARTIR:</h4>

                    <a href="https://www.facebook.com/Onetoone.consultingok"> <i
                            class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.instagram.com/nahuelmendez17/"> <i
                            class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://twitter.com/home"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
                </div>

               <div class="productos_relacionados">
                
               </div>
>>>>>>> productos-relacionados

            <a href="https://www.facebook.com/Onetoone.consultingok"> <i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/nahuelmendez17/"> <i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://twitter.com/home"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
        </div>

   

    </main>

    <!-- //FOOTER PARTIALS-->
    <%- include('../partials/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

 
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const relatedProductsCarousel = new bootstrap.Carousel(document.getElementById('related-products-carousel'), {
                interval: false // Para que no cambie automáticamente
            });

            const prevButton = document.querySelector('#related-products-carousel .carousel-control-prev');
            prevButton.addEventListener('click', function() {
                relatedProductsCarousel.prev();
            });

            const nextButton = document.querySelector('#related-products-carousel .carousel-control-next');
            nextButton.addEventListener('click', function() {
                relatedProductsCarousel.next();
            });
        });
    </script>

</body>
</html>