<!DOCTYPE html>
<html lang="ES">
<%- include('../partials/head',{ title : 'Perfil' }) %>

<body>
    <%- include('../partials/header') %>

    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Perfil de usuario</h4>
                    </div>
                    <div class="card-body">
                        <% if (errors && errors.length > 0) { %>
                            <div class="alert alert-danger" role="alert">
                                <% errors.forEach(error => { %>
                                    <p><%= error.msg %></p>
                                <% }); %>
                            </div>
                        <% } %>
                        
                        <% if (successMessage) { %>
                            <div class="alert alert-success" role="alert">
                                <%= successMessage %>
                            </div>
                        <% } %>

                        <form id="form-perfil" action="/usuarios/perfil" method="POST">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="name" class="form-label">Nombre</label>
                                    <input type="text" name="name" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                        id="name" value="<%= locals.old && old.name ? old.name : null %>" />
                                    <small class="text-danger" id="error-name"></small>
                                </div>
                                <div class="col-md-6">
                                    <label for="surname" class="form-label">Apellido</label>
                                    <input type="text" name="surname" class="form-control <%= locals.errors && errors.surname ? 'is-invalid' : null %>"
                                        id="surname"  value="<%= locals.old && old.name ? old.name : null %>" />
                                    <small class="text-danger" id="error-surname"></small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo electrónico</label>
                                <input type="email" name="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                    id="email" placeholder="name@example.com" value="<%= locals.old && old.email ? old.email : null %>" />
                                <small class="text-danger" id="error-email"></small>
                            </div>
                         
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" name="password" class="form-control  <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                                    id="password" placeholder="Ingresa tu contraseña">
                                <small class="text-danger" id="error-password"></small>
                            </div>

                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                                <input type="password" name="confirmPassword" class="form-control <%= locals.errors && errors.confirmPassword ? 'is-invalid' : null %>"
                                    id="confirmPassword" placeholder="Confirmar contraseña">
                                <small class="text-danger" id="error-confirmPassword"></small>
                            </div>
                           
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <button type="submit" class="btn btn-dark w-100">Actualizar datos</button>
                                </div>
                            </div>
                        </form>
                        <form action="/usuarios/eliminar-cuenta" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede deshacer.');">
                            <button type="submit" class="btn btn-danger w-100">ELIMINAR CUENTA</button>
                        </form>
                        <script src="/javascripts/perfil.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>